.table span{
  color: red;
  font-size: 16px;
}

.table td {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.pass{
  color: green !important;
}

.spinner-border{
  margin-left: 50px;
}


@media(min-width: 950px){
  .left_img {
    background-image:url("../../assets/signup.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    flex: 5; /* Takes up 3 parts out of 10 (30%) */
    padding: 20px; /* Optional padding */
    width: 40vw;
  }
}
  