.table{
  margin-left: 1rem;
}

.table_input {
  border: 2px solid rgb(52, 50, 50);
  width: 40vw;
  height: 4vh;
  border-radius: 7px;
  margin-bottom: 4px;
  padding-left: 5px;
  font-size: 17px;
  font-weight: 530;
  
}

.table span{
  color: red;
}


.table td label {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 17px;
}
.verify_form{
  margin-top: 1px;
}
.table td {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.lable{
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 17px;
}
.link{
  color: rgb(33, 165, 222);
}
.pass{
  color: green !important;
}
.spinner-border{
  margin-left: 50px;}


  .left_img {
    background-image:url("../../assets/signup.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    flex: 5; /* Takes up 3 parts out of 10 (30%) */
    padding: 20px; /* Optional padding */
  }
  .right{
    flex: 4; /* Takes up 7 parts out of 10 (70%) */
    padding: 20px; /* Optional padding */
    
  }
  .lable{
    margin-left: 1rem;
    font-weight: 500;
    font-size: 18px;
    color: rgb(62, 144, 225);
  }
  
  
  
  .header_text{
    font-weight: 600;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.688);
  }
  .verify_form{
    margin-top: 2rem;
  }
  
  .btn_verify{
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width:40vw;
    height:6vh;
    border-radius: .5rem;
    font-size: 26px;
    font-weight: 700;
    color: white;
    background-color: rgb(40, 167, 222);
    cursor: pointer;
    display: block;
  
  }
  
  .logo{
    background-image:url("../../assets/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width:44vw;
    height:20vh;
    margin-left: 16rem;
    
   }
  
  .container {
    display: flex;
    height: 100vh;
    background-color:white;   
  }
  